@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: #cdcdcd;
}

::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    border-radius: 5vh;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffc6b4;
}

.screen {
    display: flex;
    flex-direction: column;
}

.header {
    height: 11vh;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
    flex-direction: row;
}

.logo {
    height: 8vh;
    margin-left: 2vw;
}

.text {
    margin-left: 5vw;
    font-size: 2.5vh;
}

.back_perfil {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: 2vw;
    display: flex;
    padding: 1vh;
    border-radius: 20vh;
    cursor: pointer;
}

.perfil {
    height: 5.5vh;
}

.menu_perfil {
    height: 8vh;
    background-color: #ffffff;
    position: absolute;
    border-radius: 2vh;
    padding: 1.7vh;
    visibility: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carrossel {
    background-color: #00ffff;
    width: 100%;
    height: 48vh;
    transition: background-color 1s;
}

.buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.prev,
.next {
    padding: 1vh 1.6vh;
    border-radius: 20vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.prev {
    margin-right: auto;
    margin-left: 1.5vw;
}

.next {
    margin-left: auto;
    margin-right: 1.5vw;
}

.arrow {
    height: 4vh;
}

.recentes {
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 90%;
}

.title {
    font-size: 3.5vh;
}

.blocks_recentes {
    display: flex;
    margin-top: 3vh;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.left {
    background-color: #BDBDBD;
    height: 65vh;
    width: 27vw;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5vh;
}

.upper_blocks{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.upper_left {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.wide_block {
    background-color: #BDBDBD;
    display: flex;
    height: 20vh;
    width: 27vw;
}

.block {
    background-color: #BDBDBD;
    height: 42.5vh;
    width: 27vw;
}

.lower_blocks {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.mini_block {
    background-color: #BDBDBD;
    display: flex;
    height: 20vh;
    width: 15vw;
}

.categ_blocks {
    display: flex;
    margin-top: 3vh;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

.categ_block {
    background-color: #BDBDBD;
    height: 42vh;
    width: 27vw;
}

.footer {
    margin-top: auto;
    height: 9vh;
    display: flex;
    width: 100%;
    background-color: #BDBDBD;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: #000000;
}